@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 214 20% 69%;

    --card: 210 40% 98%;
    --card-foreground: 214 20% 69%;

    --popover: 210 40% 98%;
    --popover-foreground: 214 20% 69%;

    --primary: 210 33% 55%;
    --primary-foreground: 210 40% 98%;

    --secondary: 213 26% 83%;
    --secondary-foreground: 210 33% 55%;

    --muted: 213 26% 83%;
    --muted-foreground: 210 33% 55%;

    --accent: 214 20% 69%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 213 26% 83%;
    --input: 213 26% 83%;
    --ring: 210 33% 55%;

    --radius: 0.5rem;
  }

  .textBlack {
    color: black;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
